.main{

    &__title{
        color: #FFF;
        font-size: 23px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__slider{
        margin-top: 16px;
    }
}