.inputContainer {
	margin: 0 0 22px;
	&__title {
		font-size: 16px;
		color: #CCCDCD;
		font-weight: 700;
		margin: 0 0 12px;
	}
	&__wrap {
		position: relative;
		padding: 0 0 0 90px;
	}
	&__label {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: 0 16px;
		color: #78828F;
		font-size: 16px;
		width: 94px;
		border-radius: 4px 0px 0px 4px;
		background: #20252B;
		display: flex;
		align-items: center;
	}
}