@import "..//..//..//..//..//styles/breakpoint.scss";
.main{
    &__title{
        font-size: 23px;
        font-weight: 700;
    }
    &__slider{
        margin-top: 15px;
    }
}
@include media-breakpoint-down(xs){
    .main__title{
        font-size: 14px;
    }
}