@import "..//..//..//..//styles/breakpoint.scss";

.main{

    &__top{

    }

    &__partners{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 44px;
        flex-wrap: wrap;
    }
}
@include media-breakpoint-down(xs){
    .disable{
        display: none;
    }
    .main{

        &__partners{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            column-gap: 57px;
            row-gap: 25px;
        }
    }
}
// @media (max-width:375px) {
//     .disable{
//         display: none;
//     }
//     .main{

//         &__partners{
//             display: grid;
//             grid-template-columns: repeat(3,1fr);
//             grid-template-rows: repeat(3,1fr);
//             column-gap: 57px;
//             row-gap: 25px;
//         }
//     }
// }
