.swiper-pagination {

    .swiper-pagination-bullet {
        background-color: #20272E;
        width: 12px;
        height: 17px;
        border-radius: 0;
    }

  
    .swiper-pagination-bullet-active {
      background-color: #4F5F70 
    }
  }
@media (max-width:375px) {
    .swiper-pagination {

        .swiper-pagination-bullet {
            background-color: #20272E;
            width: 6px;
            height: 8px;
            border-radius: 0;
        }
    
      
        .swiper-pagination-bullet-active {
          background-color: #4F5F70 
        }
      }
}