.infoTab {
}

.contentClass {
  padding: 39px 35px 13px 40px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.contentClassLorem {
  padding: 20px 35px 13px 40px;
}

.itemText {
  color: #67707a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 7px;
}

.itemTop {
  display: flex;
}
.itemIcon {
  margin-right: 8px;
}

.itemTitle {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.itemBtn {
  border-radius: 2px;
  background: #1a222d;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 12px 22px;
  margin-top: 14px;
}
.itemFirstColumn .itemText {
  margin-top: 0;
}
.loremText {
  color: #67707a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.contentClass {
}
// <div className={s.cardsWr}>
//             <div className={s.card}>
//               <Picture
//                 img={tournamentBet.img.shrigma}
//                 webp={tournamentBet.img.shrigmaW}
//                 className={s.avatarImg}
//               />
//               <div className={s.cardTextWr}>
//                 <p className={s.cardTitle1}>Benjamin Shrekson</p>
//                 <p className={s.cardTitle}>ShrekSlayer</p>
//               </div>
//             </div>
.title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cardWr {
}
.card {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #20252b;
  width: 239px;
  background-color: #151A1Fs;
  margin-bottom: 12px;
}
.avatarImg {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.cardTextWr {
}
.cardName {
  color: #f5f5f5;
  font-size: 14px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.cardNick {
  color: #dce1e6;
  font-size: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

// <div className={s.center}>
// <div className={s.centerTop}>
//   <p className={s.centerTopTitle}>lobby details</p>
//   <div className={s.center}>
//     <p className={s.left}>NAME</p>
//     <p className={s.right}>ESL - 3451516161714</p>
//   </div>

.center {
  margin-top: 70px;
}

.centerTop {
  padding: 10px;
  border-radius: 2px 2px 3px 3px;
  border: 1px solid #1c2025;
  position: relative;
}
.centerTopTitle {
  color: var(--white-96, #f5f5f5);
  font-size: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}
.centerTopPass,
.centerTopNames,
.centerTopIp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.left {
  color: var(--light-blue, #9fb1cc);
  font-size: 9px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.right {
  color: var(--light-blue, #9fb1cc);
  text-align: center;
  font-size: 9px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.centerTopBtn {
  color: #e6e6e6;
  text-align: center;
  font-size: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 14px 42px;
  border-radius: 0px 0px 2px 2px;
  background: var(--primary-gradient, linear-gradient(180deg, #2788f6 0%, #0960e0 100%));
  width: 100%;
  position: absolute;
  bottom: -23px;
  left: 0px;
}

// <div className={s.report}>
// <p className={s.centerTopTitle}>Report scores</p>
// <div className={s.temsCount}>
//   <div className={s.teamCount}>
//     <p className={s.teamCountTitle}>Team 1</p>
//     <div className={s.teamCountWr}>
//       <p className={s.sign}>+</p>
//       <p className={s.count}>1</p>
//       <p className={s.sign}>-</p>
//     </div>
//   </div>
//   <div className={s.teamCount}>
//     <p className={s.teamCountTitle}>Team 1</p>
//     <div className={s.teamCountWr}>
//       <p className={s.sign}>+</p>
//       <p className={s.count}>3</p>
//       <p className={s.sign}>-</p>
//     </div>
//   </div>
// </div>
// </div>
.report {
  padding: 10px;
  border-radius: 2px 2px 3px 3px;
  border: 1px solid #1c2025;
  margin-top: 38px;
}

.teamsCount {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.teamCountWr {
  display: flex;
  width: 65px;
  justify-content: space-between;
}

.teamCountTitle {
  color: var(--light-blue, #9fb1cc);
  font-size: 12px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 11px;

  text-align: center;
}
.sign {
  color: #67707a;
  text-align: right;
  font-size: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

.count {
  border-radius: 2px;
  border: 1px solid #1c2025;
  background: #151a1f;
  color: var(--light-blue, #9fb1cc);
  text-align: center;
  font-size: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 24px;
}

.teamCountWr {
  display: flex;
}

.verify {
  color: var(--white-96, #f5f5f5);
  text-align: center;
  font-size: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 24px;
}
.verifyLine {
  width: 200px;

  display: flex;
  margin-top: 15px;
  border: 1px solid #1c2025;
  .verifyBtn:first-of-type {
    background: var(--primary-gradient, linear-gradient(180deg, #2788f6 0%, #0960e0 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.verifyBtn {
  padding: 5px 20px;
  color: var(--white-96, #f5f5f5);
  font-size: 9px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.bottomBtn {
  margin-top: 15px;
  width: 100%;
  color: #e6e6e6;
  text-align: center;
  font-size: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  padding: 14px 42px;
  border-radius: 0px 0px 2px 2px;
  background: var(--primary-gradient, linear-gradient(180deg, #2788f6 0%, #0960e0 100%));
}
.contentClass {
  padding: 15px 35px 15px 15px;
}

@media screen and (max-width: 1200px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .itemText {
    font-size: 14px;
  }
  .itemBtn {
    width: 100%;
    margin-top: 24px;
    padding: 15px 22px;
  }

  .displayNoneMob {
    display: none;
  }

  .cardsWr {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
