@mixin flex-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-ai-center {
	display: flex;
	align-items: center;
}

@mixin flex-jc-center {
	display: flex;
	align-items: center;
}

@mixin flex-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
}

@mixin obj-fi-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}