* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	font-family: $fontFamily;
	background: $bgBase;
	color: $colorBase;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: $fontSize;
	font-weight: $fontWeight;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
   appearance: none;
   -moz-appearance: textfield;
}
button {
	background: transparent;
	cursor: pointer;
	transition: $linkTransition;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	transition: $linkTransition;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	display: block;
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
