// Reset styles
$bgBase: #0F1215;
$colorBase: #F5F5F5;
$fontFamily: 'Rubik', sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$linkTransition: all .2s;

// Width 
$width1220: 'max-width: 1220px';
$width991: 'max-width: 991px';
$width767: 'max-width: 767px';
$width575: 'max-width: 575px';
$width375: 'max-width: 375px';


