.itemHeader:nth-child(1),
.itemBody__item:nth-child(1) {
	width: 30%;
	text-align: left;
	justify-content: flex-start;
	padding: 0 10px;
}

.itemHeader:nth-child(2),
.itemBody__item:nth-child(2) {
	width: 20%;
}

.itemHeader:nth-child(3),
.itemBody__item:nth-child(3) {
	width: 20%;
}

.itemHeader:nth-child(4),
.itemBody__item:nth-child(4) {
	width: 15%;
}

.itemHeader:nth-child(5),
.itemBody__item:nth-child(5) {
	width: 15%;
}

.itemHeader,
.itemBody__item {
	text-align: center;
}

.itemHeader {
	color: #E6E6E6;
	font-size: 22px;
	font-weight: 500;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__buttons {
		display: flex;
		align-items: center;
		margin-left: 8px;
	}
	&__btn {
		display: block;
		width: 16px;
		height: 16px;
		margin: 0 2px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	&__icon {
		width: 16px;
		height: 8px;
		&.iconReverse {
			transform: rotate(180deg);
		}
	}
}

.itemBody {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	&__item {
		padding: 0 60px 0 10px;
		color: #67707A;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
		text-align: right;
	}
}