.profile {
  margin-top: 135px;
  display: block;
}

.hero {
  display: grid;
  grid-template-columns: 25% 28% 1fr;
  column-gap: 67px;
}

@media screen and (max-width: 992px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }

  .profile {
    margin-bottom: 50px;
    margin-top: 114px;
  }
}
