.main__hero{
 margin-top: 65px;
}
.main__doit{
    padding-left: 105px;
}
.main__tournaments{
    padding-left: 23px;
    
}
.main__news{
    margin-top: 147px;
    padding-left: 23px;
}
.main__streams{
    margin-top: 180px;
    padding: 0 23px;
}
.main__partners{
    margin-top: 183px;
    padding-left: 23px;
    padding-right: 23px;
}
@media  (max-width:1440px) {
    .main__hero{
        margin-top: 70px;
       
    }
    .main__doit{
        padding-left: 250px;
       
    }
}

@media (max-width:768px) {
    .main__tournaments{
        padding-left: 0px;
    }
    .main__doit{
        padding-left: 120px;
    }
}
@media (max-width:375px) {
    .main__hero{
        padding-left: 0px;
        margin-top: 225px;
        margin-left: -15px;
    }
    .main__doit{
        padding-left: 20px;
    }
    .main__tournaments{
        padding-left: 0;
        padding-right: 0;
    }
    .main__news{
        padding-left: 0px;
        margin-top: 88px;
    }
    .main__streams{
        margin-top: 85px;
        padding-left: 15px;
        padding-right: 0px;
    }
    .main__partners{
        padding-left: 15px;
        padding-right: 0;
        margin-top: 82px;
    }

}