$color-theme: #488bf4;
$color-heading: #363636;
$color-content: #858585;
$color-background: #f0f2f2;
$color-footer: black;
$color-news: #4549a8;
$color-community: #dc563f;
$color-release: #60c645;
$color-border: #c0c0c8;

.bracket {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .round {
    display: inline-block;
    vertical-align: middle;
    .winners {
      & > div {
        display: inline-block;
        vertical-align: middle;
        &.matchups {
          .matchup {
            &:last-child {
              margin-bottom: 0 !important;
            }
            .participants {
              border-radius: 0.25rem;
              overflow: hidden;
              .participant {
                box-sizing: border-box;
                color: $color-content;
                background: transparent;
                width: 162px;
                height: 38px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
                color: rgba(245, 245, 245, 1);
                border: 1px solid grey;
                color: rgba(245, 245, 245, 1);
                display: flex;
                position: relative;
                .participant__country {
                  width: 14px;
                  height: 14px;
                  margin-left: 15px;
                  margin-right: 9px;
                  margin-top: 11px;
                }
                .participant__nick {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 1;
                  margin-top: 11px;
                }
                .participant__num {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1;
                  letter-spacing: 0em;
                  text-align: center;
                  color: rgba(245, 245, 245, 1);
                  width: 36px;
                  height: 36px;
                  border-radius: 0px 1px 0px 0px;
                  background-color: rgba(32, 39, 46, 1);
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                &.winner {
                  color: #fff;
                  border: 1px solid rgba(44, 149, 255, 1);
                  .participant__num {
                    color: rgba(15, 18, 21, 1);
                    background-color: rgba(44, 149, 255, 1);
                  }
                }
                &.loser {
                  color: rgba(245, 245, 245, 1);
                  border: 1px solid grey;
                }
                &:not(:last-child) {
                  // border-bottom: thin solid $color-background;
                }
                span {
                  margin: 0 1.25rem;
                  line-height: 1;
                  font-size: 14px;
                }
              }
            }
          }
        }
        &.connector {
          &.filled {
            .line,
            &.bottom .merger:after,
            &.top .merger:before {
              border-color: rgba(32, 39, 46, 1);
            }
          }
          .line,
          .merger {
            box-sizing: border-box;
            width: 2rem;
            display: inline-block;
            vertical-align: top;
          }
          .line {
            border-bottom: thin solid rgba(32, 39, 46, 1);
            height: 4rem;
          }
          .merger {
            position: relative;
            height: 8rem;
            &:before,
            &:after {
              content: '';
              display: block;
              box-sizing: border-box;
              width: 100%;
              height: 50%;
              border: 0 solid;
              border-color: rgba(32, 39, 46, 1);
            }
            &:before {
              border-right-width: thin;
              border-top-width: thin;
            }
            &:after {
              border-right-width: thin;
              border-bottom-width: thin;
            }
          }
        }
      }
    }
    &.quarterfinals {
      .winners {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        .matchups {
          .matchup {
            &:not(:last-child) {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
    &.semifinals {
      .winners {
        .matchups {
          .matchup {
            &:not(:last-child) {
              margin-bottom: 10rem;
            }
          }
        }
        .connector {
          .merger {
            height: 16rem;
          }
          .line {
            height: 8rem;
          }
        }
      }
    }
    &.finals {
      .winners {
        .connector {
          .merger {
            height: 3rem;
          }
          .line {
            height: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // .topLine {
  //   justify-content: center ;
  //   width: 100%;
  //   .topLineText {
  //     display: none !important;
  //   }
  //   .topLineText:first-of-type {
  //     display: block !important;
  //   }

  //   .semifinals {
  //     display: none !important;
  //   }

  //   .finals {
  //     display: none !important;
  //   }
  // }
}
