@import "..//..//..//..//styles/breakpoint.scss";


.main{
    &__top{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-right: 23px;
    }
    &__bottom{
        margin-top: 40px;
        padding-right: 23px;
    }
}

@include media-breakpoint-down(xs){
    .main__actions{
        display: none;
        padding-left: 0px;
    }
    .main__bottom{
        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main__top{
        padding-left: 7px;
    }
    .main{
    }
}
// @media (max-width:375px) {
//     .main__actions{
//         display: none;
//         padding-left: 0px;
//     }
//     .main__bottom{
//         margin-top: 30px;
//         padding-left: 0px;
//         padding-right: 0px;
//     }
//     .main__top{
//         padding-left: 7px;
        
//     }
// }
// @media (max-width:768px) {
//     .main__bottom{
//         padding-left: 15px;
//         padding-right: 0px;
//     }
// }
@include media-breakpoint-down(md){
    .main__bottom{
        padding-left: 15px;
        padding-right: 0px;
    }
}