.main{
    &__top{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-right: 23px;
    }
    &__bottom{
        padding-right: 23px;
        margin-top: 37px;
    }
}
@media (max-width:375px) {
    .main__actions{
        display: none;
    }
    .main__top{
        padding-right: 0px;
        padding-left: 15px;
    }
    .main__bottom{
        padding-right: 0px;
        padding-left: 15px;
        margin-top: 30px;
    }

}