.tournamentsInfo {
  display: grid;
  grid-template-columns: 67% 1fr;
  gap: 30px;
}
.infoLeft {
  margin-top: 108px;
}
.infoRight {
  margin-top: 91px;
}
.infoRightSubInfo {
  margin-top: 11px;
}
.infoSubInfoTop {
}
.infoSubInfoCenter {
}
.infoMinAge {
}
.infoTextTop {
}
.infoTextBottom {
}
.infoResidence {
}
.infoTextBottomBlue {
}
