.edit-admin-btn {
	background: #D8DFEB;
	color: #0F1215;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	padding: 30px;
	display: block;
	margin: 0 0 22px;
	&:hover {
		background: #9bb9ec;
	}
}

