@import "..//..//..//..//styles/breakpoint.scss";
.title{
    font-weight: 700;
    font-size: 44px;
    line-height: 1;
    color: #F5F5F5;
}
@include media-breakpoint-down(md){
    .title{
       
        font-size: 30px;
    }
}
// @media (max-width:768px) {
//     .title{
       
//         font-size: 30px;
//     }
// }
@include media-breakpoint-down(xs){
    .title{
        font-size: 30px;
    }
}
// @media (max-width:375px) {
//     .title{
//         font-size: 30px;
//     }
// }